<div class="login-register-container">
    <h2>{{ isLoginMode ? 'התחברות לאתר' : 'הרשמה' }}</h2>

    <div class="input-fields-container"> 
        <label for="full_name" *ngIf="!isLoginMode">שם מלא:</label>
        <input type="text" id="full_name" [(ngModel)]="userData.full_name" name="full_name" *ngIf="!isLoginMode"
               class="input-field" placeholder="שם מלא" required>

        <label for="tz" *ngIf="!isLoginMode">תעודת זהות:</label>
        <input type="text" id="tz" [(ngModel)]="userData.tz" name="tz" *ngIf="!isLoginMode"
               class="input-field" placeholder="תעודת זהות" required>

        <label for="address" *ngIf="!isLoginMode">כתובת:</label>
        <input type="text" id="address" [(ngModel)]="userData.address" name="address" *ngIf="!isLoginMode"
               class="input-field" placeholder="כתובת" required>

        <label for="email">אימייל:</label>
        <input type="email" id="email" [(ngModel)]="userData.email" name="email" 
               class="input-field" placeholder="אימייל" required>

        <label for="password">סיסמה:</label>
        <input type="password" id="password" [(ngModel)]="userData.password" name="password" 
               class="input-field last-input-field" placeholder="סיסמה" required>
    </div>

    <button class="login-register-button" (click)="onSubmit()">
        {{ isLoginMode ? 'התחבר' : 'הירשם' }}
    </button>

    <p class="toggle-mode-text" (click)="toggleMode()">
        {{ isLoginMode ? 'אין לך חשבון? הירשם כאן' : 'יש לך כבר חשבון? התחבר כאן' }}
    </p>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

</div>
