.news-footer {
  display: flex;
  justify-content: flex-end; /* הכפתורים מימין */
  align-items: center;
  flex-wrap: nowrap; /* כל הכפתורים בשורה אחת */
  gap: 0.5rem; /* מרווח אחיד בין הכפתורים */
}

.delete-button {
  background-color: #dc3545;
  color: white;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-button:hover {
  background-color: #c82333;
  transform: translateY(-2px);
}

.edit-button {
  background-color: #4fc978;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.edit-button:hover {
  background-color: #3da466;
  transform: translateY(-2px);
}

.read-more-button {
  text-align: center;
  margin-top: 2rem;
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.read-more-button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}
