<!-- src/app/news-list/news-list.component.html -->
<div class="news-page-container">
  <h2 class="news-title">חדשות ופרסומים</h2>

  <div class="news-item" *ngFor="let item of news">
    
    <img [src]="item.image_url" alt="תמונה" class="news-image"> <!-- שינוי: item.imageUrl -->

    <div class="news-content">
      <h3 class="news-item-title">{{ item.title }}</h3>
      <p class="news-description">{{ item.description }}</p>
      <div class="news-footer">
        <span class="news-time">{{ item.timeAgo }}</span> <!-- שינוי: item.timeAgo -->
        <a [routerLink]="['/news', item.id]" class="news-link">לכתבה המלאה &rarr;</a>
        <a *ngIf="isAdmin" [routerLink]="['/edit-news', item.id]" class="news-link"> לעריכת הכתבה &rarr;</a>
        <button *ngIf="isAdmin" (click)="deleteNewsItem(item.id!)" class="action-button delete-button">מחק</button>
        <!-- <--- כפתור מחיקה -->

      </div>
    </div>
  </div>

  <div *ngIf="news.length === 0 && !loading && !error" class="no-news-message">
    אין חדשות להצגה כרגע.
  </div>
  <div *ngIf="loading" class="loading-message">
    טוען חדשות...
  </div>
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>
</div>