.footer {
  background-color: #6a5d8e;
  color: white;
  padding: 15px ;
  position: fixed;
  bottom: 0;
  right:0;
  width: 100%;
  text-align: center;
  height: 3rem;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
