<!-- events.component.html -->
<div class="events-container">

  <div *ngIf="loading" class="loading-message">
    טוען אירועים...
  </div>

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <div *ngIf="events.length > 0" class="events-list">
    <div *ngFor="let event of events" class="event-card">


      <h3 class="event-title">{{ event.title }}</h3>

      <p class="event-info">
        <span class="label">תאריך:</span> {{ event.date | date:'medium' }}
      </p>

      <p *ngIf="event.location" class="event-info">
        <span class="label">מיקום:</span> {{ event.location }}
      </p>

      <p class="event-description">
        {{ event.description }}
      </p>

      <div class="event-actions">
        <!-- <a [routerLink]="['/events', event.id]" class="view-details-button">
          צפה בפרטים
        </a> -->

        <button *ngIf="currentUser?.role === 'admin' && !event.is_approved" (click)="approveEvent(event.id!)"
          class="approve-button">
          אשר אירוע
        </button>
        <button *ngIf="currentUser?.role === 'admin' && event.is_approved" (click)="unapproveEvent(event.id!)"
          class="unapprove-button">
          בטל אישור
        </button>

      </div>

    </div>
  </div>

  <div *ngIf="!loading && events.length === 0" class="no-events-message">
    אין אירועים קרובים להצגה.
  </div>
</div>