<div class="image-upload-container">
  <h3 class="upload-title"> הוספת תמונה לקרוסלה</h3>

  <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input">

  <button class="upload-button" (click)="uploadImage()">העלה תמונה</button>

  <div *ngIf="uploading" class="uploading-message">מעלה תמונה...</div>

  <div *ngIf="uploadError" class="upload-error">{{ uploadError }}</div>

  <div *ngIf="uploadedImageUrl" class="upload-success">
    התמונה הועלתה בהצלחה: 
    <a [href]="uploadedImageUrl" target="_blank" class="upload-link">{{ uploadedImageUrl }}</a>
  </div>
</div>
