.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-image {
  width: 30rem;    /* רוחב קבוע */
  height: 20rem;   /* גובה קבוע */
  object-fit: cover; /* חיתוך התמונה כך שתמלא את המסגרת מבלי להתעוות */
  border-radius: 8px; /* עיגול פינות - אופציונלי */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* צל - אופציונלי */
}


.carousel-button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: #357ab8;
}

.loading-message, .no-images-message, .error-message {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}
