/* carousel.css */

.carousel-container {
  position: relative;
  width: 100%;
  /* max-width: 600px; רוחב מקסימלי לקרוסלה */
  margin: 2rem auto; /* ממורכזת אופקית */
  /* overflow: hidden; חותך תוכן שחורג מהגבולות (חשוב ל-object-fit) */
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.carousel-image {
  width: 30rem; /* התמונה תמלא את כל רוחב הקונטיינר שלה */
  height: 20rem; /*גובה קבוע לכל התמונות*/
  object-fit: cover; /* קנה מידה של התמונה כדי למלא את הקונטיינר, חותך חלקים עודפים */
  border-radius: 1rem;
  transition: opacity 0.7s ease-in-out; /* אנימציה של מעבר תמונה */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button:first-of-type {
  left: 10px;
}

.carousel-button:last-of-type {
  right: 10px;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.carousel-indicators span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  background-color: #cbd5e0;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #3182ce;
}

@media (max-width: 768px) {
  .carousel-image {
    height: 250px; /* גובה קבוע שונה למסכים קטנים */
  }

  .carousel-button {
    font-size: 1.5rem;
    padding: 0.3rem 0.7rem;
  }
}
