.carousel-container {
  position: relative;
  width: 40rem;
  height: 20rem;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
}

.carousel-button:hover {
  background-color: rgba(0,0,0,0.7);
}

.carousel-button:first-of-type {
  left: 1rem;
}

.carousel-button:last-of-type {
  right: 1rem;
}
